@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');

body {
    font-family: 'Baloo', cursive;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}
h1 {
    font-size: 2.5em;
    color: #4a90e2;
    text-align: center;
}
header {
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
    margin: 0; /* Assurez-vous qu'il n'y a pas de marge */
    width: 100%; /* S'assurer qu'il occupe toute la largeur */
}
h2 {
    font-size: 2em;
    color: #333;
    margin-top: 20px;
}
h3 {
    font-size: 1.5em;
    color: #555;
    margin-top: 15px;
}
p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #4a90e2;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
a {
    color: #4a90e2;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.2em;
    }
    p, li {
        font-size: 1em;
    }
}
/* Additional styles for better readability */
blockquote {
    background-color: #f9f9f9;
    border-left: 5px solid #4a90e2;
    padding: 10px 20px;
    margin: 20px 0;
    font-style: italic;
}
/* Style for images */
/* Style for tables */
/* Style pour le formulaire d'envoie */
form label {
    display: block;
    margin: 10px 0 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding is included in width */
} 
input[type="submit"] {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #357ABD;
}
/* Style for buttons */
button {
    background-color: #4a90e2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #357ABD;
}
section a {
    color: #4a90e2;
    text-decoration: none;
    text-align: center;
}
